# Boot images shouldn't be in tree
/boot/

# Build artifacts
/demos/floppy/dist/
/dist/

# Shouldn't include reference docs
/docs/

# Dev testing bits
/draft/

# Mac OSX
.DS_Store
._.DS_Store

# NPM dependencies
/node_modules

# Local testing
/vm-mount
